<h1>Hello apollo-angular!</h1>

loading: {{ isLoading }}<br />
error: {{ hasGqlError ? "graphql" : "" }} {{ hasNetworkError ? "network" : ""
}}<br />

<label>
  GitHub API token:
  <input required [(ngModel)]="token" />
</label>

<br />

<button (click)="loadNext()" [disabled]="isLoading || !hasNext">
  Load next
</button>

<div *ngIf="!data?.length">Nothing to show</div>
<ol *ngIf="data?.length">
  <li *ngFor="let star of data">
    <a
      href="{{ star.node.url }}"
      title="Show {{ star.node.nameWithOwner }} on GitHub"
      target="_blank"
      >{{ star.node.nameWithOwner }}</a
    >: {{ star.node.description }}
  </li>
</ol>
