<main class="app">
  <h1>Hello apollo-angular!</h1>

  <!-- TODO: Add some introduction here -->

  <!-- Token form -->
  <label class="token__label">
    GitHub API token
    <input class="token__input" required [(ngModel)]="token" />
  </label>

  <!-- Error messages -->
  <div *ngIf="hasError" class="message message--error">
    Something went wrong with
    {{ hasGqlError ? "the GraphQL query" : "the request" }} 🥵
  </div>

  <!-- Empty list state -->
  <div
    *ngIf="!hasData && !isLoading && !hasError"
    class="message"
  >
    Nothing to show 😨
  </div>

  <!-- List -->
  <ol *ngIf="hasData" class="stars">
    <li *ngFor="let star of data" class="star__wrapper">
      <a
        class="star"
        target="_blank"
        [href]="star.node.url"
        [title]="'Visit ' + star.node.nameWithOwner + 'on GitHub'"
      >
          <span class="star__name">{{ star.node.nameWithOwner }}</span>
          <span class="star__description">{{ star.node.description }}</span>
      </a>
    </li>
  </ol>

  <div *ngIf="!hasNext && !isLoading && !hasError" class="message">
    You've reached the end of the list 🏁
  </div>

  <!-- Loading -->
  <div *ngIf="isLoading" class="message">
    <span class="spinner">⌛️</span>
  </div>

  <button
    *ngIf="!isLoading && hasNext"
    class="button button--block"
    (click)="loadNext()"
  >
    Load next
  </button>
</main>
